/* common style */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.orange {
  color: orangered;
}
.holud {
  border-radius: 5px;
  background: #fd6e0a;
  height: 60px;
  width: 160px;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
}
/* nav styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  margin-right: 50px;
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 400;
}
.header {
  background-color: #fff8f3;
  background-image: url("../portfolio-resources/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 140px;
  display: flex;
}
.banner-content {
  max-width: 500px;
}
.profile-pic {
  width: 500px;
}
.greeting {
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}
.banner-lorem {
  color: var(--Dark-03, #757575);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 220px 150px;
}
.about {
  text-align: center;

  padding: 130px;
}
.about-info-box {
  display: flex;
  justify-content: space-around;
}
.about-info {
  margin-top: 50px;
}
.work {
  max-width: 1140px;
  margin: 0 auto;
  padding: 220px 150px;
}
.section-title {
  text-align: center;
}
.section-description {
  text-align: center;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.resume-title {
 
 
}
